@use 'sass:list';

@use 'defs/_size';

@use 'partials/_block';
@use 'partials/_util';

$colors: (
    #D23E3E,
    #D2883E,
    #D2C63E,
    #6FD23E,
    #3ED2B9,
    #3E7CD2,
    #943ED2,
    #D23EAD
);

$customColors: (
    'other': var(--c_text-shade-1)
);

.tagChart
{
    @extend %block;
    > header { @extend %blockPlainHeader; }

    > .area,
    > .action,
    > .form
    {
        > header
        {
            @extend %blockSep;
            border-top: 1px solid var(--c_border);
        }
    }
}

.chartPart
{
    @for $i from 1 through 8
    {
        > .bar > .frac:nth-of-type(#{$i}),
        > .labels > .label:nth-of-type(#{$i}) > .color
        {
            background: list.nth($colors, $i);
        }
    }

    @each $class, $color in $customColors
    {
        > .bar > .frac.frac--#{$class},
        > .labels > .label > .color.color--#{$class}
        {
            background: $color;
        }
    }

    @extend %blockSection;

    display: flex;
    flex-direction: column;
    gap: size.$gap;

    > .bar
    {
        display: flex;
        gap: 10px;

        > .frac
        {
            border-radius: size.$borderRadius;
            height: 10px;
            min-width: 3px;
        }
    }

    > .labels
    {
        display: flex;
        flex-wrap: wrap;

        gap: size.$gapBig;
        row-gap: size.$gap;

        >.label
        {
            display: flex;
            align-items: center;
            gap: 7.5px;

            > .color
            {
                @include util.size(10px);
                border-radius: size.$borderRadius;

                background: var(--c_text-shade-2);
            }

            > .title, > .percent
            {
                font-size: .9rem;
                line-height: 1;
            }

            .title
            {
                position: relative;
                top: -1px;

                color: var(--c_text-shade-1);
                &[title] { cursor: help; }
            }
            
            .percent
            {
                cursor: help;
                color: var(--c_text-shade-2);
                
                &::after { content: "%"; }
            }
        }
    }
}