@use 'sass:color';
@use 'sass:map';

//
// Миксины для работы в других стилях
//

@mixin themeColorVar($name, $light, $dark)
{
    $property: '--c__#{$name}';

    body:not(.theme--dark) &    { #{$property}: $light; }
    body.theme--dark &          { #{$property}: $dark; }
}

@mixin themeLight   { body:not(.theme--dark) & { @content; } }
@mixin themeDark    { body.theme--dark & { @content; } }

//
// Функции для работы с палитрой цветов
//

@function themeColor($light, $dark)
{
    @return (
        light: $light,
        dark: $dark
    );
}

@function paletteColor($colorName, $theme)
{
    @return map.get(map.get($palette, $colorName), $theme);
}

//
// Цветовая палитра сайта
//

$palette: (
    bg-body:            themeColor(#EDEFF0, #1E1E1E),
    bg:                 themeColor(#ffffff, #252526),
    bg-shade-1:         themeColor(#F7F7F7, #2D2D2D),
    bg-shade-2:         themeColor(#F0F0F0, #373737),
    bg-shade-3:         themeColor(#E4E4E4, #3A3A3C),
    bg-shade-4:         themeColor(#CDCDCD, #4D4D50),

    text:               themeColor(#282828, #C3C3C3),
    text-shade-1:       themeColor(#757575, #919191),
    text-shade-2:       themeColor(#A6A6A6, #5e5e5e),

    border:             themeColor(#D4D6D7, #373737),

    shadow:             themeColor(rgba(#000, .05), rgba(#fff, .035)),

    selection:          themeColor(#acd6e4, #00445A)
);