@use 'defs/size';

@use 'partials/util';

%counters
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    grid-auto-rows: 35px;
    gap: size.$gap;

    > .counter
    {
        @include util.flexCC;
        gap: size.$gapSmall;

        color: var(--c_text-shade-1);
        background: var(--c_bg-shade-1);

        border: 1px solid var(--c_border);
        border-radius: size.$borderRadius;
    }
}