@use 'sass:color';

@use 'defs/size';
@use 'defs/bp';

@use 'includes/status';

@use 'partials/util';

%featuredProjectSupport
{
    position: relative;

    > .featured
    {
        --size: 40px;

        position: absolute;
        top: -1px; right: -1px;
        overflow: hidden;

        @include util.size(var(--size));

        border: 1px solid black;
        border-top-right-radius: size.$borderRadius;
        border-left: none;
        border-bottom: none;

        > .hover
        {
            --hoverSize: calc(var(--size) * 1.41421356);

            position: absolute;
            top: calc(1/2 * (var(--size) - var(--hoverSize)));
            left: calc(var(--size) / 2);

            cursor: help;

            transform-origin: 0 50%;
            transform: rotateZ(-45deg);

            @include util.size(var(--hoverSize));
            background: transparent;
        }

        > i
        {
            position: absolute;
            top: 4px; right: 4px;
            font-size: 13px;
            cursor: help;
        }

        @each $status, $color in status.$statusMap
        {
            &.status--#{$status}
            {
                $cStrong: color.change(status.getBorder($status), $alpha: .3);
                $cSoft: color.change($color, $alpha: .15);
                $cText: color.change(status.getBorder($status), $alpha: .7);

                background: linear-gradient(to bottom left, $cSoft calc(50% - 1px), $cStrong calc(50% - 1px) 50%, transparent 50%);
                border-color: $cStrong;

                i { color: $cText; }
            }
        }

        @include bp.max(mini)
        {
            right: 0;
            border-radius: 0;
            border-right: none;
        }
    }
}