extends /templates/default

include /includes/icon

block main
    each yearBlock in years
        .yearBlock
            header
                .info
                    a.year(href= "/life/" + yearBlock.year)= yearBlock.year

                    if (yearBlock.time)
                        .hours(title="Учтенное время")= yearBlock.time

                if (yearBlock.counters)
                    .counters
                        each counter in yearBlock.counters
                            .counter(class= counter.counterId, title= counter.title)
                                i.fa-fw(class= counter.icon)
                                span= counter.value

                a.gotoBtn(title="Перейти на страницу года", href= "/life/" + yearBlock.year)
                    i.fa-solid.fa-arrow-right
            
            if (yearBlock.projects)
                .keyProjects
                    each project in yearBlock.projects
                        a.project(href= "/projects/" + project.id, title= project.title)
                            +icon(project.icon)