doctype html
include /includes/art.html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title= seo.getTitle()
        meta(name="description", content= seo.desc)

        link(rel="canonical", href= canonical())

        meta(name="keywords", content= seo.getKeywords().join(', '))

        if (ogImg)
            meta(name="og:image", content= ogImg.url)

        meta(name="generator", content="CMTV Static Site Generator")
        meta(name="build-time", content= config.buildTime)

        link(rel="icon", href= config.getUrl() + "/favicon.ico")
        link(rel="icon", type="image/png", href= config.getUrl() + "/site/graphics/favicon/favicon.png")

        //-
        //- Сторонние библиотеки
        //-

        //- Font Awesome 6

        link(rel="preload", as="style", href="/site/vendor/font-awesome/css/all.min.css")
        link(rel="stylesheet", href="/site/vendor/font-awesome/css/all.min.css")

        //- PhotoSwipe

        link(href="/site/vendor/photoswipe/photoswipe.css", rel="stylesheet")
        script(type="module", src="/site/scripts/lightbox.js")

        //-
        //- Скрипты и стили самого сайта
        //-

        link(href="/site/styles/global.css", rel="stylesheet")
        if (hasStyle)
            link(href= `/site/styles/${pageName}.css`, rel="stylesheet")

        script(src="/site/scripts/global.js", defer)
        if (hasScript)
            script(src= `/site/scripts/${pageName}.js`, defer)

    body(class= bodyClass())
        script
            include /includes/theme.js
        
        .bg
            .activities
            .fog

        .contactBlock
            .modal
                header
                    h2 Связаться со мной
                    i.fa-solid.fa-times.closeBtn
                
                ul
                    li Я предпочитаю общаться в текстовом формате
                    li Ясно и понятно обозначайте тему переписки
                    li Готов обсудить самые безумные и интересные идеи!

                .email
                    a(href="mailto:newpetya@inbox.ru") newpetya@inbox.ru

        .site
            include /includes/header

            main
                block main

        //-
        //- Сторонние ресурсы
        //-

        if (!config.devMode)
            include /vendor/yandex.html
            include /vendor/google.html