@use 'defs/color';
@use 'defs/size';
@use 'defs/bp';

@use 'partials/block';
@use 'partials/hover';
@use 'partials/util';

@keyframes gradient
{
    from    { background-position: 0; }
    to      { background-position: 100vw; }
}

.site > header .gradient
{
    position: relative;
    overflow: hidden;
    height: 50px;

    div
    {
        position: absolute;
        top: 0; left: 0;

        width: 200vw;
        height: 50px;

        background: linear-gradient(to right, #AB0000, #AA5E00, #AAAA00, #17AA00, #0099AA, #0006AA, #AA006C, #AB0000);
        background-size: 100vw;

        animation: gradient 10s linear infinite;
    }
}

.site > header
{
    position: sticky;
    top: 0;
    z-index: 50;

    display: flex;
    flex-direction: column;

    height: size.$headerHeight;

    background: var(--c_bg);
    border-bottom: 1px solid var(--c_border);

    line-height: 1;

    > .gradient { height: 3px; }

    > .headerContent
    {
        @extend %blockLogic;

        flex: 1;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        > a.me
        {
            display: flex;
            align-items: center;
            gap: size.$gap;

            color: inherit;
            text-decoration: none;

            @include bp.max(mini) { padding: 0 size.$gap; }

            .logo
            {
                --logo-size: 43px;
            
                position: relative;
                @include util.flexCC;
                @include util.size(var(--logo-size));

                > .gradient
                {
                    position: absolute;
                    @include util.size(var(--logo-size));
                    border-radius: 50%;

                    div
                    {
                        opacity: .4;
                    }
                }

                > img
                {
                    width: var(--logo-size);
                    border-radius: 50%;
                    position: relative;
                }
            }

            > h1
            {
                position: relative;
                top: -1px;
                font-size: 125%;

                @include bp.max(mini) { > span { display: none; } }
            }
        }

        > nav
        {
            display: flex;
            align-items: stretch;

            > .navItem
            {
                padding: 0 size.$gap;

                @include util.flexCC;
                gap: size.$gapSmall;

                cursor: pointer;

                color: var(--c_text-shade-1);
                font-size: 105%;

                @include hover.colorAccent(var(--c_text));

                @include bp.max(hBreak) { > span { display: none; } }

                @include bp.max(mini)
                {
                    width: 42px;
                    padding: 0;
                }

                // Особые правила

                &.themeSwitcher
                {
                    position: relative;
                    width: 42px;

                    > i
                    {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 1;

                        @include util.transition(top, opacity, color);
                    }

                    > .fa-sun   { color: #eeca07; }
                    > .fa-moon  { color: #d98bfc; }

                    &:hover
                    {
                        > .fa-sun   { color: #D7B806; }
                        > .fa-moon  { color: #C363F0; }
                    }

                    @include color.themeLight   { > .fa-moon    { opacity: 0; top: 10%; pointer-events: none; } }
                    @include color.themeDark    { > .fa-sun     { opacity: 0; top: 90%; pointer-events: none; } }
                }

                &.contact
                {
                    color: #E55656;
                    &:hover { color: #BE3F3F; }
                }
            }
        }
    }
}