@use 'defs/size';
@use 'defs/bp';

.pswp__custom-caption
{
    &._noCaption { display: none; }

    background: rgba(0, 0, 0, .5);
    border-radius: size.$borderRadius;

    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 15px black, 0px 0px 15px black;
    text-align: center;

    padding: size.$gapSmall;

    max-width: 600px;

    position: absolute;
    left: 50%;
    bottom: size.$gapStruct;
    transform: translateX(-50%);

    @include bp.max(mini)
    {
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        transform: none;
        font-size: 14px;
    }
}