@use 'defs/size';

@use 'partials/block';
@use 'partials/scroll';
@use 'partials/util';

[data-pswp-gallery]
{
    @extend %blockSection;

    display: flex;
    gap: size.$gap;
    border-top: 1px solid var(--c_border);

    @extend %scrollbar;

    > a
    {
        position: relative;

        &:not(:hover) .hoverOverlay
        {
            opacity: 0;
            pointer-events: none;
        }

        .hoverOverlay
        {
            position: absolute;
            left: 0; top: 0; right: 0; bottom: 0;

            @include util.flexCC;

            border-radius: size.$borderRadius;

            font-size: 27px;
            color: white;
            background: rgba(black, .4);

            @include util.transition(opacity);
        }

        img
        {
            display: block;
            height: 100px;
            border-radius: size.$borderRadius;
        }
    }
}