%toggledOff
{
    height: 0;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    pointer-events: none;
    touch-action: none;
}

%toggle
{
    &:not([data-toggled])
    {
        @extend %toggledOff;
    }
}