mixin gradient
    .gradient
        div

header
    +gradient
    
    .headerContent
        a.me(href="/")
            .logo
                +gradient
                img(src="/site/graphics/me.png")
            h1 Петр #[span Радько]
        
        nav
            a.navItem.projects(href="/projects", title="Что я делаю?")
                i.fa-solid.fa-clone
                span Проекты
            a.navItem.life(href="/life", title="Моя борьба")
                i.fa-solid.fa-heart
                span Жизнь
            .navItem.themeSwitcher(onclick="toggleTheme()", title="Переключить цветовую схему")
                i.fa-solid.fa-sun
                i.fa-solid.fa-moon
            .navItem.contact(title="Связаться со мной")
                i.fa-solid.fa-envelope-open-text